@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: black;
}
.main {
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/594f8025-139a-4a35-b58d-4ecf8fdc507c/d3c4e455-f0bf-4003-b7cd-511dda6da82a/IN-en-20240108-popsignuptwoweeks-perspective_alpha_website_small.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 644px;
    position: relative;
}

.main .box {
    height: 644px;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0.60;
    background-color: black;
}

nav {
    max-width: 60vw;
    height: 100px;
    margin: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.svgimg{
    width: 150px;
    color: rgb(243, 17, 17);
    position: relative;
    z-index: 10;
    fill: currentColor;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 100px);
    display: flex;
    position: relative;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    text-align: center;
}

.hero>:nth-child(2) {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.hero> :nth-child(3) {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    line-height: 30px;
}

.separation {
    height: 6px;
    background-color: rgb(56, 56, 56);
    position: relative;
    z-index: 20;
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: rgba(246, 246, 246, 0.025);
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.main input {
    padding: 7px 101px 8px 14px;
    font-size: 12px;
    border-radius: 4px;
    color: white;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}


.secimg {
    position: relative;
}

.secimg img {
    width: 556px;
    position: relative;
    z-index: 10;
}

.secimg video {
    position: absolute;
    position: absolute;
    top: 121px;
    right: 72px;
    width: 411px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

section.first>div :nth-child(2) {
    font-size: 24px;
}

.sec video {
    top: 77px;
    right: 96px;
    width: 365px;
}

.faq h2 {
    text-align: center;
    font-size: 48px;

}


.faq {
    background-color: black;
    color: white;
    padding: 34px;
}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 13px auto;
    cursor: pointer;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 34px 0;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

.footer-item a {
    color: white;
    display: flex;
}

@media screen and (max-width:1300px) {
    nav {
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secimg img {
        width: 305px;
    }

    .hero> :nth-child(1) {
        font-size: 30px;
    }

    .hero>:nth-child(2) {
        font-size: 18px;
    }

    .hero>:nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    .faqbox {
        padding: 9px;
        font-size: 15px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item {
        align-items: center;
    }
}

@media screen and (max-width:1300px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }

    .footer a {
        font-size: 14px;
        color: white;
    }

    .footer-item {
        display: flex;
        flex-direction: column;
        gap: 23px;
    }
}

@media screen and (max-width: 1300px) {
    .secimg video {
        position: absolute;
        top: 68px;
        right: 16px;
        width: 269px;
    }

    .sec video {
        top: 52px;
        right: 55px;
        width: 195px;
    }
}